@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --clr-black: #04080F;
    --clr-white: #DBD5B5;
    --clr-red: #F8333C;

    --clr-green: #88D498;

    --ff-universal: 'Comfortaa';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--ff-universal);
}

::selection {
    color: var(--clr-black);
    background: var(--clr-green);
}

span {
    font-size: 3rem;
}